{{define "yield.html"}}
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Edit gallery</h3>
                </div>
                <div class="panel-body">
                    {{template "editGalleryForm.html"}}
                </div>
            </div>
        </div>
    </div>
{{end}}

{{define "editGalleryForm.html"}}
    <form action="/galleries/{{ .ID }}/update" method="post">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" name="name" class="form-control" id="title" value="{{ .Title }}" aria-describedby="nameHelp" placeholder="Gallery title">
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
    </form>
    <form action="/galleries/{{ .ID }}/delete" method="post">
        <button type="submit" class="btn btn-danger">Delete</button>
    </form>
{{end}}
